<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/normalize.css"/>
    <link rel="stylesheet" href="/fonts/sansumi/font.css"/>
    <link rel="stylesheet" href="/fonts/bitter/font.css"/>
    <link rel="stylesheet" href="/fonts/anonymous/font.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="stylesheet" href="/stylesheets/pygments.css"/>
    <title>{{title}}</title>
  </head>
  <body>
    <script type="text/javascript" src="/javascripts/impress.js"></script>
  </body>
</html>
