/* Pallete
 * c1c1c1: light grey
 * background-color: #ffefdc; cream
 *
 *
 *
 */
body {
	background: url('/images/px_by_Gre3g.png') repeat black;
	font-size: 50px;
	font-family: 'Neutraface 2 Text';
	color: #2e2e2e;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Museo Sans', sans-serif;
}

li {
	list-decoration: square;
}

div.slide {
	margin: 0 auto;
	width: 800px;
	height: 600px;
	background-color: #ffefdc;
	padding: 50px;
}

.hundred-pix {
	margin-top: 100px;
	content: ' ';
}

.fifty-pix {
	margin-top: 50px;
	content: ' ';
}


.centered {
	text-align: center;
	margin: auto;
}

.textual {
	line-height: 80px;
}

h1 {
	font-size: 128px;
	color: #2e2e2e;
}

h2 {
	font-size: 64px;
	color: #6a6a6a;
}

a {
	color: #2e2e2e;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #6a6a6a;
}

div.content {
	margin: auto;
	background-color: #dedede;
	color: #2e2e2e;
	padding: 4em 12em;
	width: 55%;
}

.slide {
	margin-top: 100px;
	background-color: white;
	padding: 30px;
	border: 3px #6a6a6a solid;
	border-radius: 30px;
}

pre {
	margin-top: 50px;
	text-align: left;
	padding: 30px;
	background-color: rgba(100,100,100,0.1);
	font-family: 'Anonymous Regular', monospace;
	font-size: 20px;
	border-radius: 30px;
}

.fifty-width pre {
	font-size: 22px;
}
